<div class="card">
  <div class="card-body text-center">
    <img
      class="rounded-circle img-thumbnail"
      [src]="user?.picture?.large"
      [alt]="user?.name?.first"
      width="150"
      height="150"
    />
    <div class="card-title text-primary">
      <h1>
        <span class="px-2"
          >{{ user?.name?.first }}
          {{ user?.name?.last }}</span
        >
      </h1>
    </div>
    <div class="card-text">
      E-mail: {{ user?.email }}
    </div>
    <div class="card-text">
      Telefone: {{ user?.phone }}
    </div>
  </div>
  <div class="user-container-button">
    <div class="user-box">
      <button class="detail-button" [routerLink]="['/user-list']" routerLinkActive="router-link-active">Voltar</button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

