<div class="user-container">
  <div class="user-table">
    <table class="table">
      <tr>
        <th class="title">Nome</th>
        <th class="title">Sobrenome</th>
        <th class="title">Email</th>
        <th class="title">Telefone </th>
      </tr>
      <tr *ngFor="let user of users">
        <th><a class="table-link" onclick="window.location.href = '/user-detail'">{{ user?.name?.first }}</a></th>
        <th><a class="table-link" onclick="window.location.href = '/user-detail'">{{ user?.name?.last }}</a></th>
        <th><a class="table-link" onclick="window.location.href = '/user-detail'">{{ user?.email }}</a></th>
        <th><a class="table-link" onclick="window.location.href = '/user-detail'">{{ user?.phone }}</a></th>
      </tr>
    </table>
    <br><br>
  </div>
</div>
