/* You can add global styles to this file, and also import other style files */
body {
  background-image: url(./assets/background.jpg);
}

h1 {
  text-align: center;
  color: aliceblue;
}

.main-title {
  color: aliceblue;
}

.header {
  position: fixed;
  top: 0%;
  width: 100%;
}

.footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: rgb(137, 189, 242);
}

td, th {
  padding: .7em;
  margin: 0;
  text-align: center;
}

th{
  color: darkblue;
  background-color: cadetblue;
}

.title{
  background-color: blue;
  font-weight:bold;
  color: white;
}

table{
  width: 100%;
  margin-bottom : .5em;
  table-layout: fixed;
  text-align: center;
}

.table-link {
  text-decoration: none;
  color: #315683;
}

.container-fluid {
  margin-left: 36em;
}

.container-fluid ul li a{
  display: inline;
  margin: 0em 2em;
}

.container-button {
  width: 98vw;
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.user-container-button {
  width: 98vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box-button {
  width: 300px;
  height: 300px;
}

.user-box {
  width: 300px;
  height: 70px;
}

.list-button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13;
  margin: 10px 80px;
  width:140px;
  height:50px;
  border-width:3px;
  color:#fff;
  border-color:#4e6096;
  font-weight:bold;
  border-top-left-radius:14px;
  border-top-right-radius:14px;
  border-bottom-left-radius:14px;
  border-bottom-right-radius:14px;
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  text-shadow: 0px 1px 0px #283966;
  background:linear-gradient(rgb(120, 146, 194), #476e9e);
}

.list-button:hover {
  background: linear-gradient(#476e9e, rgb(120, 146, 194));
  cursor: pointer;
}

.text-button {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13;
  text-align: center;
  padding: 10px 20px;
}

.table-link {
  cursor: pointer;
}

.px-2 {
  color: navy;
}
